<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>
Hi, <span th:text="${session.customerFirstName}"> </span>! <br>

<a th:href="@{/cart/view}">See My Cart</a><br>
<a th:href="@{/logout}">Logout</a>

<div class="row">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th> Product Name </th>
            <th> Unit Price</th>
            <th> Unit </th>
            <th> Sub Category </th>
            <th> Category </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${productList==null || productList.isEmpty()}">
            <td colspan="4"> No Products Available</td>
        </tr>
        <tr th:each="product : ${productList}">
            <td><span th:text="${product.getProductName()}"> Product Name </span></td>
            <td><span th:text="${product.getPrice()}"> Unit Price </span></td>
            <td><span th:text="${product.getUnit()}"> Unit </span></td>
            <td><span th:text="${session.subCategoryMap.get(product.getSubCategoryID()).getName()}"> Sub Category </span></td>
            <td><span th:text="${session.categoryMap.get(session.subCategoryMap.get(product.getSubCategoryID())
            .getCategoryID()).getName()}"> Category </span></td>
            <td>
                <form th:action="@{/cart/add/{path}(path=${product.getId()})}" method="post">
                    <label>
                        <input type="number" name="quantity" min="0">
                    </label>
                    <input type="submit" value="Add to Cart">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>